{
  "root": true,
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": [
    "arcadia-custom"
  ],
  "rules": {
    "max-len": [2, 200, 2, {
      "ignoreUrls": true,
      "ignoreComments": false
    }],
    "comma-dangle": [
      2,
      "never"
    ],
    "quotes": [
      2,
      "single"
    ],
    "arrow-parens": [
      2,
      "always"
    ],
    "linebreak-style": [
      2,
      "unix"
    ],
    "semi": [
      2,
      "never"
    ],
    "react/jsx-no-bind": 0,
    "no-nested-ternary": 0,
    "arcadia-custom/no-connect-to-js": 1
  },
  "env": {
    "browser": true,
    "es6": true
  }
}
